html{
    scroll-snap-type: y mandatory;
}

body{
    background-color: rgb(0, 0, 22);
    color: white;
    font-family: "Poppins", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    position: fixed;
    margin-top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgb(8, 8, 40);
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 23px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

nav ul li a:hover{
    text-decoration: none;
    color: rgb(151, 151, 255);
}

main hr{
    border: 0;
    background: rgb(111, 134, 209);
    height: 1px;
    margin: 40px 80px;
    margin-top: 0;
}

.left{
    font-size: 1.5rem;
}

#home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 93vh;
    scroll-snap-align: start;
}

#home > div{
    width: 30%;
}

.leftSection{
    font-size: 2rem;
}

.rightSection img{
    width: 100%;
    
}

.purple{
    color: rgb(212, 76, 212);
}

#element{
    color: rgb(212, 76, 212);
}

#projects{
    max-width: 80vw;
    margin: auto;
    margin-bottom: 10px;
    height: 80vh;
    scroll-snap-align: start;

#projects h1{
    font-size: 1.6rem;
}

.text-gray{
    color: gray;
}

.boxes{
    width: 80vw;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box{
    height: 315px;
    width: 200px;
    background-color: rgb(8, 8, 40);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
}

.box:hover{
    height: 325px;
    width: 220px;
    background-color: rgb(27, 27, 87);
    border-radius: 30px;
}

.box:hover .image{
    height: 170px;
    width: 170px;
    border-radius: 25px;
}

.box .image{
    height: 150px;
    width: 150px;
    border-radius: 25px;
    transition: 0.5s;
}

.box .title{
    height: 4rem;
    margin: 20px 20px;
    text-align: center;
}

.boxes a{
    text-decoration: none;
    color: white;
}

